.settingsContainer {
  display: flex;
  max-width: 100%;
  padding: 0;
  flex-flow: column wrap;
  row-gap: var(--GW-LAYOUT-6);

  .flexContainer {
    column-gap: var(--GW-LAYOUT-6);
    row-gap: var(--GW-LAYOUT-6);
    flex-flow: column;
  }
}
