.themeRoot,
.themeRoot.dynamicRoot {
    /* font */
    --GW-FONT-FAMILY: 'Open Sans';

    /* colors */
    --GW-BRAND-COLOR-1: #1567e5;
    --GW-BRAND-COLOR-1-HOVER: #86b1f4; /*30% opacity */
    --GW-BRAND-COLOR-1-ACTIVE: #0a3270;
    --GW-BRAND-COLOR-2: #ff5c5c;
    --GW-TEXT-COLOR-1: #2e3034;
    --GW-TEXT-COLOR-2: #ffffff;
    --GW-BACKGROUND-COLOR-BODY: var(--GW-BACKGROUND-COLOR-2);

    /* custom color variables */
    --GW-BACKGROUND-COLOR-1: #ffffff;
    --GW-BACKGROUND-COLOR-2: #f9f9f9;
    --GW-BACKGROUND-COLOR-3: #f7faff;
    --GW-BACKGROUND-COLOR-4: #7d91ac;
    --GW-HIGHLIGHT-COLOR-2: #ebf8f7;

    /* borders */
    --GW-BORDER-RADIUS: 2px;
    --GW-SHADOW-2: unset;
    --GW-BORDER-WIDTH: 1px;

    /* components */
    --GW-FOOTER-BACKGROUND-COLOR: var(--GW-BACKGROUND-COLOR-1);
    --GW-BUTTON-INVERSE-COLOR: var(--GW-BACKGROUND-COLOR-1);
    --GW-SELECTOR-SELECTED-BACKGROUND-COLOR: #e3ecfc;
    --GW-SELECTOR-SELECTED-COLOR: #055de4;
    --GW-CLICKABLE-ELEMENT-BACKGROUND-COLOR: #e3ecfc;
    --GW-CLICKABLE-ELEMENT-BACKGROUND-COLOR-HOVER: #d1dffa;
    --GW-CLICKABLE-ELEMENT-BACKGROUND-COLOR-ACTIVE: #bed3f8;
    --GW-BRANDED-LOADER-COLOR: #00739d;

    /* floorplans-Header */
    --GW-HEADER-BACKGROUND-COLOR: var(--GW-BRAND-COLOR-1);
    --GW-HEADER-HEIGHT: 56px;
    --GW-HEADER-LOGO-SIZE: 42px;

    /* floorplans-Header Search Field */
    --GW-HEADER-SEARCH-BACKGROUND-COLOR: #2c76e7;
    --GW-HEADER-SEARCH-SELECT-ICON-COLOR: var(--GW-TEXT-COLOR-2);
    --GW-HEADER-SEARCH-COLOR: var(--GW-TEXT-COLOR-2);
    --GW-HEADER-SEARCH-HEIGHT: 32px;

    /* floorplans-Header Avatar */
    --GW-AVATAR-BACKGROUND-COLOR: #ffffff;
    --GW-AVATAR-COLOR: #00739d;
    --GW-AVATAR-BACKGROUND-COLOR-HOVER: var(
        --GW-DROPDOWN-OPTION-BACKGROUND-COLOR-HOVER
    );
    --GW-DROPDOWN-MENU-AVATAR-SUBTITLE-COLOR: var(--GW-TEXT-COLOR-1);
    --GW-BURGER-SIDEBAR-BACKGROUND-COLOR-HOVER: var(
        --GW-DROPDOWN-OPTION-BACKGROUND-COLOR-HOVER
    );
    --GW-BURGER-SIDEBAR-BACKGROUND-COLOR-ACTIVE: var(
        --GW-DROPDOWN-OPTION-BACKGROUND-COLOR-ACTIVE
    );

    /* floorplans-Top Navigation */
    --GW-TOP-NAV-BACKGROUND-COLOR: var(--GW-BACKGROUND-COLOR-1);
    --GW-TOP-NAV-BACKGROUND-COLOR-HOVER: var(--GW-BRAND-COLOR-1-HOVER);
    --GW-TOP-NAV-ITEM-COLOR: var(--GW-TEXT-COLOR-1);
    --GW-TOP-NAV-ITEM-COLOR-ACTIVE: var(--GW-BRAND-COLOR-1);
    --GW-TOP-NAV-ITEM-BACKGROUND-COLOR: var(--GW-BACKGROUND-COLOR-1);
    --GW-TOP-NAV-ITEM-BACKGROUND-COLOR-HOVER: var(--GW-HIGHLIGHT-COLOR-2);
    --GW-TOP-NAV-ITEM-BACKGROUND-COLOR-ACTIVE: var(--GW-HIGHLIGHT-COLOR-2);
    --GW-TOP-NAV-ITEM-FOCUS-OUTLINE-COLOR: var(--GW-BRAND-COLOR-1);

    /* components-FieldComponent */
    --GW-FIELD-COMPONENT-BACKGROUND-COLOR: #f9f9f9;
    --GW-FIELD-COMPONENT-REQUIRED-SYMBOL-COLOR: #ff5c5c;
    --GW-FIELD-COMPONENT-PLACEHOLDER-COLOR: #2e3034;

    /* componets-Filled Button */
    --GW-BUTTON-FILLED-BACKGROUND-COLOR: var(--GW-BRAND-COLOR-2);
    --GW-BUTTON-TEXT-BACKGROUND-COLOR: #e3ecfc;
    --GW-BUTTON-FILLED-BACKGROUND-COLOR-HOVER: #ff4848;
    --GW-BUTTON-FILLED-BACKGROUND-COLOR-ACTIVE: #ff3333;

    /* components-Dropdown */
    --GW-DROPDOWN-OPTION-BACKGROUND-COLOR-HOVER: #e3ecfc;
    --GW-DROPDOWN-OPTION-BACKGROUND-COLOR-ACTIVE: #86b1f4;

    /* components-ToggleField */
    --GW-TOGGLE-FIELD-COLOR: var(--GW-TEXT-COLOR-1);
}
